<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Free Templates Online Terms of Use</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<style type="text/css">
<!--
body {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:14px; padding-left:100px; padding-right:100px;}
h1 {background-color:#0066CC; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:22px; text-align:center; color:#FFFFFF;}
a {color:#0066CC;}
a:hover {text-decoration:none;}
-->
</style>
</head>
<body>
<h1>FreeTemplatesOnline.com Terms of Use</h1>
<p><em>By downloading a template from FreeTemplatesOnline.com you agree to the following Terms of Use: </em></p>
<p>Our web templates may be used for your own and/or your clients' websites, but you may not sell/offer for free our templates in any sort of collection, such as distributing to a third party via CD, diskette, or letting others to download them from your websites etc. </p>
<p>Link back to <a href="http://www.freetemplatesonline.com/">www.freetemplatesonline.com</a> is required and always appreciated. </p>
<p>The templates are offered "as is" without warranty of any kind, either expressed or implied. FreeTemplatesOnline.com will not be liable for any damage or loss of data whatsoever due to downloading or using a template. In no event shall FreeTemplatesOnline.com be liable for any damages including, but not limited to, direct, indirect, special, incidental or consequential damages or other losses arising out of the use of or inability to use the templates and/or information from FreeTemplatesOnline.com. </p>
<p>FreeTemplatesOnline.com team reserves the right to change or modify these terms with no prior notice. </p>
<p><em>If you have any questions or comments, please contact us at <a href="mailto:info@freetemplatesonline.com">info@freetemplatesonline.com</a></em></p>
</body>
</html>