<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="50%">&nbsp;</td>
    <td width="700" valign="top" class="main">
	<table width="698" border="0" cellspacing="0" cellpadding="0">
	  <tr>
		<td valign="top"><img src="images/top.gif" alt=""></td>
	  </tr>
	  <tr>
		<td valign="top">
				<table width="698" border="0" cellspacing="0" cellpadding="0">
				  <tr>
					<td valign="top" width="183"><img src="images/name.gif" alt=""></td>
					<td valign="top" width="253" style="padding-top:33px;"><a href="#"><img src="images/m1.gif" alt=""></a><a href="#"><img src="images/m2.gif" alt=""></a><a href="#"><img src="images/m3.gif" alt=""></a><a href="#"><img src="images/m4.gif" alt=""></a><a href="#"><img src="images/m5.gif" alt=""></a><div style="position:absolute;top:1px;left:1px;height:0px;width:0px;overflow:hidden"><a href="http://www.freetemplatesonline.com"><h1>free templates</h1></a><a href="http://www.webdesign.org"><h1>web design</h1></a></div></td>
					<td valign="top" style="padding-top:33px;"><form action="" style="padding:0; margin:0; font-family:tahoma, Arial, Helvetica, sans-serif; font-size:10px;"><input name="t" type="text" style="width:125px; height:12px; margin-left:45px; border: 1px solid #D7D7D7;">&nbsp;&nbsp;<input name="" type="image" src="images/search.gif" alt="" align="middle" style="padding-bottom:4px; "></form></td>
				  </tr>
				</table>

		</td>
	  </tr>
	  <tr>
		<td valign="top" height="25">&nbsp;</td>
	  </tr>
	  <tr>
		<td valign="top">
			<table width="689" border="0" cellspacing="0" cellpadding="0">
			  <tr>
				<td valign="top" class="text1" width="247"><div class="price1"><img src="images/price1.gif" alt=""><br />
				<a href="#"><img src="images/buy1.gif" alt=""></a><img src="images/l1.gif" alt="" hspace="2"><a href="#"><img src="images/add1.gif" alt=""></a></div></td>
				<td valign="top"><img src="images/l.gif" alt=""></td>
				<td valign="top" class="text2" width="451"><img src="images/choice.gif" alt=""><br />
				<div class="price2"><img src="images/price1.gif" alt=""><br />
				<a href="#"><img src="images/buy1.gif" alt=""></a><img src="images/l1.gif" alt="" hspace="2"><a href="#"><img src="images/add1.gif" alt=""></a></div></td>
			  </tr>
			</table>
		</td>
	  </tr>	  
	  <tr>
		<td valign="top">
			<table width="689" border="0" cellspacing="0" cellpadding="0">
			  <tr>
				<td valign="top" width="248" class="text1_2"><img src="images/select.gif" alt=""><br />
				<a href="#"><img src="images/n1.gif" alt=""></a><br />
				<a href="#"><img src="images/n2.gif" alt=""></a><br />
				<a href="#"><img src="images/n3.gif" alt=""></a><br />
				<a href="#"><img src="images/n4.gif" alt=""></a><br />
				<a href="#"><img src="images/n5.gif" alt=""></a><br />
				<a href="#"><img src="images/n6.gif" alt=""></a><br />
				<a href="#"><img src="images/n7.gif" alt=""></a><br />
				<a href="#"><img src="images/n8.gif" alt=""></a><br />
				<a href="#"><img src="images/n9.gif" alt=""></a><br />
				<a href="#"><img src="images/n10.gif" alt=""></a><br /><br /><br /><br /><br />				
				</td>
				<td valign="top" width="450" class="r_bg">
						<table width="450" border="0" cellspacing="0" cellpadding="0">
						  <tr>
							<td valign="top"><img src="images/proposition.gif" alt=""></td>
						  </tr>
						  <tr>
							<td valign="top">
										<table width="450" border="0" cellspacing="0" cellpadding="0">
										  <tr>
											<td valign="top" width="180"><img src="images/3.jpg" alt=""></td>
											<td valign="top" width="270" class="text3"><div class="more1"><a href="#"><img src="images/more1.gif" alt=""></a></div></td>
										  </tr>
										</table>
							</td>
						  </tr>
						  <tr>
							<td valign="top">
							<table width="450" border="0" cellspacing="0" cellpadding="0">
										  <tr>
											<td valign="top" width="282" class="text4"><div class="more2"><a href="#"><img src="images/more1.gif" alt=""></a></div></td>
											<td valign="top" width="168"><img src="images/6.jpg" alt=""></td>
										  </tr>
										</table>
							</td>
						  </tr>
						</table>

				</td>
			  </tr>
			</table>
		</td>
	  </tr>
	  <tr>
		<td valign="top" height="19" class="copy">&nbsp;</td>
	  </tr>
	</table>
	</td>
    <td width="50%">&nbsp;</td>
  </tr>
</table><br /><div class="fto"><a href="http://www.webdesign.org">Web Design</a> by <a href="http://www.freetemplatesonline.com">Free Templates</a> Online</div>
</body>
</html>
